.round-results {
  font-family: var(--font-banner);
  font-size: 1.2em;
  padding: 0 1em;
}

.results > p {
  padding-bottom: 10px;
}

.results > p > span {
  font-weight: bold;
}

.calculation-text {
  color: rgb(252, 222, 102);
}

@media (max-width: 1200px) {
  .round-results {
    font-size: 1.25em;
    text-align: center;
  }

  .results > p {
    padding: 2em 0;
  }
}

@media (max-width: 768px) {
  .round-results {
    margin-top: 2em;
  }

  .results > p {
    padding: 1em 0;
  }
}

@media (max-width: 576px) {
  .results > p {
    font-size: 1em;
  }
}
