.score-round-banner {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--font-banner);
  padding: 20px;
}

.score-container,
.round-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}

.score-txt,
.round-txt {
  font-size: 1.875em;
  letter-spacing: 1.5px;
  color: var(--color-txt-lighter);
}

.score,
.round {
  font-size: 1.875em;
  color: var(--color-txt);
}

@media (max-width: 1200px) {
  .score-txt,
  .round-txt {
    font-size: 1.25em;
  }

  .score,
  .round {
    font-size: 1.5em;
  }
}

@media (max-width: 1000px) {
  .score-container,
  .round-container {
    padding-top: 0;
  }
}
