.layout {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
  padding: 20px;
  min-height: 100vh;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gamearea {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

@media (max-width: 1000px) {
  .banner {
    flex-direction: column;
    padding: 0 1em;
  }
}
