.layout{
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    padding: 20px;
}

.banner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.gamearea{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin:20px;      
}

